[Unit]
Description=Lore Seeker Discord bot
Documentation=https://github.com/cs-ech/lore-seeker-discord
After=network.target

[Service]
Restart=always
ExecStart=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker
ExecReload=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker -- reload
ExecStop=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker -- quit
User=fenhl
Group=fenhl
WorkingDirectory=/opt/git/github.com/cs-ech/lore-seeker-discord/master
Environment=RUST_LOG=warn

[Install]
WantedBy=multi-user.target
