[Unit]
Description=Lore Seeker Discord bot (development instance)
Documentation=https://github.com/cs-ech/lore-seeker-discord
After=network.target

[Service]
Restart=always
ExecStart=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker
ExecReload=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker -- reload
ExecStop=/home/fenhl/.cargo/bin/cargo run --release --bin=lore-seeker -- quit
User=fenhl
Group=fenhl
WorkingDirectory=/opt/git/github.com/fenhl/lore-seeker-discord/master
Environment=RUST_LOG=info
Environment=LORESEEKERDATA=/usr/local/share/cs-ech/lore-seeker/dev

[Install]
WantedBy=multi-user.target
